<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>Tamaraw Index</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <div class="divHeader">
      <table class="tableHeader">
        <tr>
          <td>
            <p>Index</p>
          </td>
        </tr>
      </table>
    </div>
     <br>
    <div>
      <table>
        <tr>
          <td><a th:href="@{/user/index}">[ Index ]</a></td>
          <td><a th:href="@{/user/signup}">[ Sign up ]</a></td>
          <td><a th:href="@{/admin/getall}">[ Get All Users ]</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>