.divHeader {
    width: 100%;
    background-color: rgb(117, 175, 225);
    color: white;
    border: 1px solid black;
    /*margin: 20px;*/
    /*padding: 20px;*/
    text-align: center;
    align-content: center;
}

.tableHeader{
      width: 100%;
      /*border-collapse: collapse;*/
      /*border: 1px solid;*/
      background-color: rgb(117, 175, 225);
      text-align: center;
      opacity: 0.6;
      color: white;
      font-size: 40px;
}
